* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FAEEDD;
    color: #000000;
}


h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
    }

h3 {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
    }
    

.los-um {
    font-size: 12px;
     margin: 4px 0;    /* Geringer Abstand zwischen den Zeilen */
    }
    

#grafik {
    display: flex;           
    justify-content: center;
    align-items: flex-start;
    width: 100%;             
}

_____

div.inhalt {
    max-width: 768px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.inhalt h1 {
    padding-top: 20px;
}

h1 {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: normal;
 }


.textbox-container {
    width: 100%;
    background-color: #52688A;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    top: -164px;
    }

.inhalt-textbox {
    max-width: 768px;
    text-align: center;
    color: white;
    margin: auto;
    padding: 20px;
}

.inhalt-textbox h3 {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}

.inhalt-textbox p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
    padding: 20px;
}

.datumanzeige {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.datum {
    color: black; /* Textfarbe */
    margin-right: 10px; /* Abstand zwischen den Elementen */
    cursor: pointer;
}

.pfeil {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    cursor: pointer;
}


.button-container {
    display: flex;
    margin: auto;
    max-width: 500px;
    min-width: auto; /* Passt die Breite an deine Bedürfnisse an */
    border-radius: 20px; /* Abrundung der Ecken */
    overflow: hidden; /* Verhindert, dass Inhalte außerhalb des Containers angezeigt werden */
  }
  
  .button-section {
    flex-grow: 1;
    text-align: center;
    padding: 20px 20px;
    background-color: #F2D5B3; /* Helle Hintergrundfarbe */
    transition: background-color 0.3s;
    font-family: Arial, sans-serif; /* Schriftart */
    font-size: 14px;
    color: black;
    cursor: pointer;
  }

  .time {
    font-size: 24px;
    line-height: 1;
 }
  
  .button-section.middle {
    border-left: #F2B05C 1px solid;
    border-right: #F2B05C 1px solid;
  }
  
  .button-section:hover {
    background-color: #F2B05C; /* Dunklere Hintergrundfarbe beim Hover */
    box-shadow: inset 0 0 10px rgba(191, 122, 63, 0.3); 
    cursor: pointer;
  }

  .button-section:focus .button-section:active {
    background-color: #F2B05C; /* Dunklere Hintergrundfarbe beim Hover */
    box-shadow: inset 0 0 10px rgba(191, 122, 63, 0.3); 
    cursor: pointer;
  }

  .button-section:focus {
    background-color: #F2B05C; /* Dunklere Hintergrundfarbe beim Hover */
    cursor: pointer;
  }
______________

.calendar {
    width: calc(100% - 60px);
    max-width: 600px; /* Anpassen nach Bedarf */
    margin: 0 30px;
    background-color: #F2D5B3;
    border-radius: 8px;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #F2D5B3;
    background-color: #F2B05C;
    padding: 10px 20px;
    border-radius: 5px;
}

.arrow {
    cursor: pointer;
    user-select: none;
    color: black;
}

.calendar-header h1 {
    font-size: 24px;
    margin: 0;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    color: black;
    margin-bottom: 15px;
}

.weekdays div {
    font-size: 16px;
    font-weight: bold;
    width: 14.28%; /* Gleichmäßige Aufteilung der Tage */
}

.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.days div {
    width: 14.28%;
    padding: 10px 0;
    margin-bottom: 5px;
    background-color: #F2D5B3;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, border-radius 0.3s;
}

.days div:hover {
    background-color: #F2B05C;
    color: black;
    border-radius: 50%;
}

.day, .prev-date, .next-date {
    transition: background-color 0.3s;
}

.prev-date, .next-date {
    color: rgb(64, 59, 59); /* Graue Farbe für Tage außerhalb des Monats */
}

.day[onclick] {
    font-weight: bold; /* Hebt Tage hervor, die ausgewählt werden können */
}



.jahresansicht {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.legende {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.legende-item {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px; /* Abstand zwischen den Legende-Elementen */
    text-align: left;
}

.legende span {
    font-size: 12px;
    color: black;
    display: block;
}

.legende-balken {
    width: 30px;
    height: 5px;
    margin-top: 4px; /* Abstand von Text zu Balken */
}

.sonnenaufgang {
    background-color: #F2B05C;
}

.sonnenuntergang {
    background-color: #52688A;
}

.grafik-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

____

/* Popup*/







@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    .time-button {
        flex: 1;
    }



}

@media (max-width: 539px) {
    .button-container {
        margin: 0px 20px 0px 20px;
}


   
}