@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
    background-color: #FAEEDD;
    color: #000000;
    max-height: calc(100vh - 164px); /* 100vh ist 100% der Viewport-Höhe */
    overflow: auto; /* Ermöglicht das Scrollen, wenn der Inhalt größer als der Viewport ist */
    
}


h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
    }

h3 {
    font-size: 24px;

    text-align: center;
    font-weight: normal;
    }
    
  .times {
      display: flex;
      justify-content: space-evenly;
    }

.los-um {

    font-size: 12px;
     margin: 4px 0;    /* Geringer Abstand zwischen den Zeilen */
    }
    

#grafik {
    display: flex;           
    justify-content: center;
    align-items: flex-start;
    width: 100%;             
}



div.inhalt {
    max-width: 768px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.inhalt h1 {
    padding-top: 20px;
}

h1 {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: normal;
 }


.textbox-container {
    width: 100%;
    background-color: #52688A;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    top: -164px;
    }

.inhalt-textbox {
    max-width: 768px;
    text-align: center;
    color: white;
    margin: auto;
    padding: 20px;
}

.inhalt-textbox h3 {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}

.inhalt-textbox p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
    padding: 20px;
}

.datumanzeige {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.datum {
    color: black; /* Textfarbe */
    margin-right: 10px; /* Abstand zwischen den Elementen */
    cursor: pointer;
}

.pfeil {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    cursor: pointer;
}


.button-container {
    display: flex;
    margin: auto;
    max-width: 500px;
    margin-top: 20px;
    min-width: auto; /* Passt die Breite an deine Bedürfnisse an */
    border-radius: 20px; /* Abrundung der Ecken */
    overflow: hidden; /* Verhindert, dass Inhalte außerhalb des Containers angezeigt werden */
  }
  
  .button-section {
    flex-grow: 1;
    text-align: center;
    padding: 20px 20px;
    background-color: #F2D5B3; /* Helle Hintergrundfarbe */
    transition: background-color 0.3s;
    font-family: Arial, sans-serif; /* Schriftart */
    font-size: 14px;
    color: black;
    cursor: pointer;
  }

  .time {
    font-size: 24px;
    line-height: 1;
 }
  
  .button-section.middle {
    border-left: #F2B05C 1px solid;
    border-right: #F2B05C 1px solid;
  }
  
  .button-section:hover {
    background-color: #F2B05C; /* Dunklere Hintergrundfarbe beim Hover */
    box-shadow: inset 0 0 10px rgba(191, 122, 63, 0.3); 
    cursor: pointer;
  }

  .button-section:focus .button-section:active {
    background-color: #F2B05C; /* Dunklere Hintergrundfarbe beim Hover */
    box-shadow: inset 0 0 10px rgba(191, 122, 63, 0.3); 
    cursor: pointer;
  }

  .button-section.active {
    background-color: #F2B05C; /* Dunklere Hintergrundfarbe beim Hover */
    box-shadow: inset 0 0 10px rgba(191, 122, 63, 0.3); 
    cursor: pointer;
  }

  .button-section:focus {
    background-color: #F2B05C; /* Dunklere Hintergrundfarbe beim Hover */
    cursor: pointer;
  }


.seiteninhalt {
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 0px 10px;
  justify-content: space-evenly;
  width: 100%;
}


.jahresansicht {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}


element.style {
  width: 100%;
  height: auto;
  max-width: 1200px;
  height: auto;
}

canvas#linienDiagramm {
  width: 100% !important;
  height: auto !important;
  max-width: 600px !important;
  min-width: 340px !important;
}




.legende {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.legende-item {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px; /* Abstand zwischen den Legende-Elementen */
    text-align: left;
}

.legende span {
    font-size: 12px;
    color: black;
    display: block;
}

.legende-balken {
    width: 30px;
    height: 5px;
    margin-top: 4px; /* Abstand von Text zu Balken */
}

.sonnenaufgang {
    background-color: #F2B05C;
}

.sonnenuntergang {
    background-color: #52688A;
}



/* css von Kalender*/
table {
  width: 300px; /* Die Tabelle nimmt die volle Breite des Containers ein */
  height: auto;
}


th, td {
  width: calc(100% / 7); /* Teilt die Breite gleichmäßig auf 7 Tage auf */
  height: auto;
  text-align: center; /* Zentriert den Text innerhalb der Zellen */
  box-sizing: border-box; /* Stellt sicher, dass das Padding die Größe der Zellen nicht beeinflusst */
  position: relative; /* Ermöglicht das absolute Positionieren von Inhalten innerhalb der Zellen */
}

.date-picked {
  display: block  }

#picked {
  font-weight: normal;
}

td {
  cursor: pointer;
  text-align: center;
}
td:hover {
  background-color: #F2AF5E;
  border-radius: 50%;
}

main.calendermain {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  font-family: sans-serif;
}

.calendermain {
background-color: #F2D5B3;
width: 300px;
height: auto;
overflow: hidden;
border-radius: 10px;
margin: 0;
padding: 0;
}

#calender-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2AF5E;
  width: 300px;
  color: black;
  border-radius: 10px 10px 0px 0px;
  font-weight: 500;
  text-transform: uppercase; 
  padding: 10px 20px;
  
}

button{
  border: none;
  background-color: transparent;
  color: black;
  margin: 0 20px;
  font-size: 30px;
}

.today{
  background-color: #F2AF5E;
  color: black;
  border-radius: 50%;
}







/* Popup*/
#popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Schwarz mit 40% Deckkraft */
  z-index: 50; /* Stellen Sie sicher, dass dies unter dem Popup ist, aber über dem Hauptinhalt */
}

#popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; /* Über dem Overlay */
  background: #FAEEDD;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  min-width: 340px;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 20px;
  cursor: pointer;
  font-size: 48px;
  font-weight: normal;
}


.show {
  display: flex !important; /* Zeigt das Popup an */ 
  flex-direction: column;
  align-items: center;
}




@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    .time-button {
        flex: 1;
    }
}

@media (max-width: 539px) {
    .button-container {
        margin: 0 20px;
    }
}