/* CSS Kalender neu */
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  min-height: 100vh;
  background: #FAEEDD;
}

h1 {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: normal;
 }

.seiteninhalt {
        display: flex;
        align-items: center;
        padding: 20px 10px 0px 10px;
        justify-content: space-evenly;
 
      
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
  }

  table {
    width: 300px; /* Die Tabelle nimmt die volle Breite des Containers ein */
    height: auto;
  }

  th, td {
    width: calc(100% / 7); /* Teilt die Breite gleichmäßig auf 7 Tage auf */
    height: 0;
    text-align: center; /* Zentriert den Text innerhalb der Zellen */
    box-sizing: border-box; /* Stellt sicher, dass das Padding die Größe der Zellen nicht beeinflusst */
    position: relative; /* Ermöglicht das absolute Positionieren von Inhalten innerhalb der Zellen */
  }
  
  .date-picked {
    display: none  }
  
  #picked {
    font-weight: normal;
  }
  
  td {
    cursor: pointer;
    text-align: center;
  }
  td:hover {
    background-color: #F2AF5E;
    border-radius: 50%;
  }
  
  main{
    background-color: #F2D5B3;
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
  }
  
  #calender-header{
    display: flex;
    justify-content: space-between;
    background-color: #F2AF5E;
    width: 300px;
    color: black;
    border-radius: 10px 10px 0px 0px;
    font-weight: 500;
    text-transform: uppercase; 
    padding: 10px 20px;
    
  }
  
  button{
    border: none;
    background-color: transparent;
    color: black;
    margin: 0 20px;
  }
  
  .today{
    background-color: #F2AF5E;
    color: black;
    border-radius: 50%;
  }












.wrapper{
  width: 450px;
  background: #F2D5B3;
  border-radius: 10px;
  margin: 60px;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
  background-color: #F2AF5E;
  border-radius: 10px 10px 0px 0px;;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #000000;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #F2D5B3;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
  text-transform: uppercase; 
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #6A6A6A;
}
.days li.active{
  color: #000000;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #F2AF5E;
  ;
}
.days li:not(.active):hover::before{
  background: #F2AF5E;
}

#chartContainer {
    width: 100%;     /* Nimmt die volle Breite des übergeordneten Elements ein */
    max-width: 1200px; /* Maximalbreite, um das Diagramm nicht zu groß werden zu lassen */
    height: auto;    /* Höhe wird auf Basis des Verhältnisses automatisch eingestellt */
  }

.jahresansicht {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.jahresverlauf {
    width: auto;
    max-width: 1200px; /* Maximalbreite, um das Diagramm nicht zu groß werden zu lassen */
    height: 100%;   
}






@media (max-width: 768px) {

    .seiteninhalt{
        display: flex; 
        flex-direction: column !important;
    }
    .wrapper {
        width: 90%;
        min-width: 240px;
        margin: 0px 20px 0px 20px;
    }
}

@media (max-width: 539px) {

.seiteninhalt {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
}

}